<div class="row">
    <div class="col-6">

        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <app-create-employee 
                id="nameEntered" 
                formControlName="name"  
                [errorMessage]="errorMessage" 
                [label]="labelName"></app-create-employee>
            <button class="btn btn-primary" [disabled]="myForm.status == 'INVALID'">Create Employee</button>
        </form>
    </div>
    <div class="col-6">
        <h1 class="text-center">Employee List</h1>

        <table class="table" *ngIf="employees">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees;let i = index; trackBy: trackEmployees">
                    <td>{{employee.id}} </td>
                    <td>{{employee.name}}</td>
                    <td><svg width="1em" role="button" height="1em" viewBox="0 0 16 16" 
                        class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg"  
                        (click)="confirmationModal(i)">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
              <div class="col-12 text-center mb-4">
                Do you want to delete Employee detail?
              </div>
              <button type="button" class="btn btn-danger col-3 offset-2" data-dismiss="modal" (click)="deleteEmployee()">Yes</button>
              <button type="button" class="btn btn-primary col-3 offset-2" data-dismiss="modal" (click)="dismissModal()">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>

